################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Iron.Solid.SRP/.vs/Iron.Solid.SRP
