################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Iron.Solid.SRP/.vs/Iron.Solid.SRP
/Iron.Solid.SRP/Iron.Solid.SRP.Refactor/obj
/Iron.Solid.SRP/Iron.Solid.SRP.Refactor/bin/Debug/netcoreapp3.1
/Iron.Solid.SRP/Iron.Solid.SRP.Symptom/bin/Debug/netcoreapp3.1
/Iron.Solid.SRP/Iron.Solid.SRP.Symptom/obj
